@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --light-green: #43b97f;
  --dark-green: #295943;
  --dark-gray: #3d3e48;
  --white: #ffff;
  --black: #000;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
li {
  list-style: none;
}
.service__container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* /start header/ */
header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}
.navbar {
  position: relative;
  padding-left: 50px;
  padding-top: 19px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: var(--white);
  font-size: 1.1rem;
}
.navbar a:active{
  color: var(--light-green);
}
.navbar .logo {
  font-size: 2.1rem;
  font-weight: bold;
}
.nav-links ul {
  display: flex;
  gap: 20px;
}

.nav-links .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  .nav-links .toggle-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    width: 100vw;
  }
  .nav-links ul {
    display: none;
  }

  .nav-links .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  .nav-links ul li a {
    padding: 10px !important;
  }
}

.lang ul {
  display: flex;
  gap: 10px;
  padding-right: 1.1rem;
}
.lang ul li {
  color: var(--white);
}

/* End Header */

/* <<<<<<<Start sevice--header>>>>>>>>  */
.service--header {
  background-image: url(../services/images/My\ project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
}

.service--header div {
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 100%;
}

.service--header h2 {
  font-family: var(--font);
  color: var(--white);
  padding-bottom: 50px;
  font-size: 2rem;
  position: relative;
  top: 200px;
  left: 20px;
}
/* <<<<<<<End sevice--header>>>>>>>>  */

/* <<<<<<<Start Advantages--Section>>>>>>>>  */

.advantages--section {
  display: flex;
  margin-top: 6.25rem;
  gap: 5%;
}

.advantages-item {
  color: #3d3e48;
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.813rem;
  margin-bottom: 30px;
}
.advantages-icon {
  font-size: 2rem;
}
.advantages-item h3 {
  margin-top: 6px;
  font-weight: 700;
  font-size: 1.2rem;
}
.advantages-item p {
  margin-top: 15px;
  font-size: 1rem;
}

.advantages--btn {
  background-color: var(--light-green);
  color: var(--white);
  height: 40px;
  width: 120px;
  text-align: center;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 10px;
}
.advantages--btn:hover {
  color: var(--dark-gray);
  border: 1px solid var(--light-green);
  background-color: var(--white);
}
/* <<<<<<<End Advantages--Section>>>>>>>>  */

/* <<<<<<<Start Water--Section>>>>>>>>  */

.water-section {
  display: flex;
  gap: 1.5%;
  margin-top: 6.25rem;
  height: 35vh;
  color: var(--white);
}
.water-section h2 {
  font-size: 1.4rem;
}
.water-section h5 {
  font-size: 1rem;
  font-weight: 700;
}
.water-section p {
  margin-top: 0.7rem;
  font-size: 1rem;
}

.water--activity1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../services/images/8c.jpg);
  background-size: cover;
  padding: 1rem;
  cursor: pointer;
}
.water--activity1:hover {
  animation-name: pulse;
  animation-duration: 0.5s;
}

.water--activity2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../services/images/GettyImages-806930620_342543702_578641511.jpg);
  background-size: cover;
  padding: 1rem;
  cursor: pointer;
}
.water--activity2:hover {
  animation-name: pulse;
  animation-duration: 0.5s;
}
.water--activity3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../services/images/HERO_Thai-traditional-wooden-longtail-boat-and-beautiful-sand-Railay-Beach-in-Krabi-province.-Ao-Nang-Thailand_Credit_GettyImages-1011241694.webp);
  background-size: cover;
  padding: 1rem;
  cursor: pointer;
}
.water--activity3:hover {
  animation-name: pulse;
  animation-duration: 0.5s;
}
.water--btn {
  border: 1px solid var(--light-green);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 1rem;
}
/* <<<<<<<End Water--Section>>>>>>>>  */

/*start media query for service--header & adnatage--section & water-section*/
@media (min-width: 768px) and (max-width: 1040px) {
  .container {
    max-width: 1040px;
  }
  html {
    font-size: 12px;
  }
  .service--header div {
    position: relative;
  }
  .advantages--section {
    flex-wrap: wrap;
  }
  .advantages-item {
    flex-basis: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .water-section {
    height: 30vh;
  }
  .service--header {
    height: 20vh;
  }
  .service--header h2 {
    position: relative;
    top: 150px;
    left: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  html {
    font-size: 12px;
  }
  .service--header {
    height: 15vh;
  }

  .service--header h2 {
    position: relative;
    top: 60px;
    left: 20px;
  }
  .advantages--section {
    flex-wrap: wrap;
  }
  .advantages-item {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .water-section {
    flex-wrap: wrap;
    height: 100vh;
  }
}
/*<<<<End media query for service--header & adnatage--section & water-section>>>*/

/* Start Facilities */
.Facilities {
  background-image: url(../services/images/image.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 225vmin;
  font-family: var(--font);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid;
  place-items: center;
  height: 100vmin;
  width: 100vw;
  padding: 4vmin;
  margin-top: 9rem;
}

/* Header of Facilities */
.Facilities h1 {
  color: var(--white);
  font-weight: 700;
  font-size: 4vmin;
}

/* article of .Facilities */
.Facilities article {
  color: var(--white);
  font-weight: 400;
  font-size: 0.75em;
  font-family: var(--font);
}

/* Button of Facilities */

.Facilities .btn {
  background-color: var(--light-green);
  border-radius: 10px;
  color: var(--white);
  font-family: var(--font);
  font-weight: 700;
  width: fit-content;
  padding: 1vmin;
}

.Facilities .btn:hover {
  color: var(--white);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.7s ease;
}

/* The services of Facilities */

.Facilities .Facilities-services {
  background-color: var(--white);
  border-radius: 8px;
  width: 25vmin;
  height: 20vmin;
  padding: 0.5rem;
  text-align: center;
}

.Facilities .Facilities-services:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.7s ease;
}

.Facilities .Facilities-services h1 {
  color: var(--black);
  font-family: var(--font);
  font-weight: 700;
}
.Facilities .Facilities-services h1 span {
  font-family: var(--font);
  font-weight: 200;
  font-size: 1rem;
}

.Facilities1 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  gap: 1vmin;
}

.Facilities2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2vmin;
  width: fit-content;
  border-radius: 1vmin;
}

.Our-Services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5vmin;
  justify-content: center;
}

.service-span {
  font-size: 1rem;
  font-weight: 400;
}
.Head-of-service {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.service-part1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 400;
}

.service-part1 img {
  width: 7vmin;
  height: 8vmin;
}

.service-part2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 400;
}
.service-part2 img {
  width: 6vmin;
  height: 6vmin;
}

.services h2 {
  display: inline-block;
}
.service-btn {
  background-color: var(--light-green);
  border-radius: 8px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  padding: 1vmin;
  margin-top: 1vmin;
  width: fit-content;
}

.service-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.7s ease;
}

@media only screen and (max-width: 600px) {
  .Facilities article {
    font-size: 2vmin;
  }

  .Facilities img {
    width: 4vmin;
  }

  .Facilities2 .Facilities-services h1 span {
    font-size: 0.75rem;
  }
  .service-part1 {
  }
}
@media only screen and (max-width: 400px) {
  .Facilities article {
    font-size: 2vmin;
  }

  .Facilities img {
    width: 4vmin;
  }

  .Facilities2 .Facilities-services h1 span {
    font-size: 0.5rem;
  }
  .service-part1 {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
  }
  .service-part2 {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
  }
}

/* /footer/ */

footer {
  background-color: var(--dark-green);
  padding-bottom: 2rem;
  margin-top: 5rem;
}
.foot-content {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
}
#footer-logo {
  font-size: 1.4rem;
  font-weight: normal;
}
.title-content {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: column;
  gap: 2.3rem;
  padding-top: 20px;
}

.text {
  font-size: 1rem;
  max-width: 19.5rem;
}
.title-content h2 {
  font-size: 1.1rem;
  font-weight: normal;
}
.title-content ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 0.8rem;
}
.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.social-icons a {
  font-size: 1.7rem;
  color: var(--white);
}

.end-foot {
  color: var(--white);
  margin-top: 2rem;
  margin-left: 6.5rem;
}
.end-foot h2 {
  font-size: 1.4rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  .foot-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* /end footer/ */
